@use 'mixins' as m;
.root__main {
  background-color: blue;
}

.main {
  width: 100%;

  .main__header {
    background: blue;
    color: white;
    height: 10vh;
    width: 100%;
  }

  .main__outlet {
    height: 80vh;
  }
  .main__footer {
    background: blue;
    color: white;
    height: 10vh;
    width: 100%;
  }
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  @include m.absoluteFill;
  display: none;
}
aside {
  position: absolute;
}
