@use "mixins" as m;
// @import "styles";

.main {
  height: 100%;
  width: 100%;
}
aside {
  position: absolute;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  @include m.absoluteFill;
  display: none;
}
