@use 'mixins' as m;
:host {
  height: 100%;
  @include m.absoluteFill;
}
.root__main {
  height: 100%;
  .main {
    width: 100%;

    &article.main__header {
      background-color: blue;
      color: white;
      min-height: 10vh;
    }

    &.main__outlet {
      height: 100%;
    }
    &article.main__footer {
      background: red;
      color: white;
      height: 10vh;
    }
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  @include m.absoluteFill;
  display: none;
}
aside {
  position: absolute;
}
